@using System.Data.SqlClient
@using Website
@{  
    string queryString = "SELECT Foren.ID, Foren.Bezeichnung, Beiträge.Mitteilung, Beiträge.Änderungsdatum " +
                      "FROM Foren " +
                      "INNER JOIN Diskussionen " +
                      "ON Foren.ID = Diskussionen.ForumID " +
                      "INNER JOIN Beiträge " +
                      "ON Diskussionen.ID = Beiträge.DiskussionsID " +
                      "WHERE Beiträge.Benutzer = '" + PageData[0] + "' " +
                      "ORDER BY Foren.ID, Beiträge.Änderungsdatum DESC ";
    int forumCount = 0;
    int postCount = 0;
    string post;
    DateTime time;

    try
    { 
        var entry = new SqlEntry();
        var reader = entry.getReader(queryString);

<h2>Forum Beiträge</h2>

        for(; reader.Read(); ++forumCount)
        {
    <h3>@reader["Bezeichnung"]</h3>
    <ul>
        @for (; reader.Read(); ++postCount)
        {
            time = Convert.ToDateTime(reader["Änderungsdatum"].ToString());
            post = reader["Mitteilung"].ToString();
            //Get 0-150 characters
            <li>@(post.Substring(0, Math.Min(post.Length, 150))) vor @DateTime.Now.Subtract(time).Days Tagen</li>
        }
    </ul>
    
        }
        if(forumCount == 0)
        {
            <p>No entries!!!</p>
        }
        else if(forumCount == 1)
        {
            <p>@postCount Beiträge in 1 Forum</p>
        }
        else
        {
            <p>@postCount Beiträge in @forumCount Foren</p>
        }
    }   catch(SqlException e)
    {
        <p>Anmelden zur Zeit nicht möglich bitte versuchen Sie es sp&aumlter wieder.</p>
    }
}