@using System.Data.SqlClient
@using Website
@{
    string userName = Request.Form["userName"];
    string password = Request.Form["password"];
    string queryString = "SELECT Benutzer.Passwort " +
                      "FROM Benutzer WHERE Benutzer.Nickname = '" + userName + "'";

    Layout = "~/layout/LayoutLogin.cshtml";

    
    
    if(!userName.IsEmpty())
    {
        string dbPassword = " ";
        try
        {
            var entry = new SqlEntry();
            dbPassword = (string)entry.getScalar(queryString); 
            if(dbPassword.IsEmpty())
        { 
            <p>User doesn't exsist!!!</p>
            userName = "";
        }
        else if(string.Compare(Crypto.Hash(password, "md5").ToString(), dbPassword,true)!=0)
        {
            <p>Wrong Password!!!</p>
        } 
        else
        {
            Session["authenticated"] = "ok";
            Response.Redirect("~/Default.cshtml");
        }
        }   catch(SqlException e)
        {
            <p>Anmelden zur Zeit nicht möglich bitte versuchen Sie es sp&aumlter wieder.</p>
        }
    }
}


    <form action="~/login" method="post">
        <lable for="userName">User Name</lable>
        <input type="text" name="userName" value="@userName"/><br/>
        <lable for="password">Password</lable>
        <input type="password" name="password"/><br/>
        <input type="submit" value="login"></input>
    </form>