@using Praktikum_3_Disconnected_Data_and_LINQ.Models.Linq
@model UnterForenUndDiskussionen
@{
    if(Model.ForumAktuell != null)  {   ViewBag.Title = Model.ForumAktuell.Bezeichnung; }
    else {  ViewBag.Title = "Foren"; }
}


@if (Model.ForumAktuell != null)
{
    <nav>
        <ul id="navlist">
            <li><a href="~/Foren" target="_self">Zurück</a></li>
            <li><a href="~/Foren/NeueDiskussion?id=@Model.ForumAktuell.ID" target="_self">Neue Diskussion</a></li>
        </ul>
    </nav>
}

<h1>@ViewBag.Title</h1>

@if (Model.Foren != null)
{
    <h2>Unterforen</h2>
    <ul>
        @foreach (var item in Model.Foren)
        {
            <li><a href="~/Foren?id=@item.ID">@item.Bezeichnung</a></li>
        }
    </ul>
}

@if(Model.Diskussionen != null)
{
    <table border=1>
        <tr>
            <th>Diskussion</th>
            <th>Sichtung</th>
        </tr>
        @foreach (var item in Model.Diskussionen)
        {
            <tr>
                <td><a href="~/Diskussion?id=@item.ID">@item.Titel</a></td>
                <td>@item.AnzahlSichtungen</td>
            </tr>
        }
    </table>
}