@using Praktikum_3_Disconnected_Data_and_LINQ.Models
@model List<int>
@{
    ViewBag.Title = "RollenChart";
}

<h2>RollenChart</h2>

@{
    //var chart = new Chart(width: 600, height: 400)
    //        .AddSeries(chartType: "pie", legend: "Benutzer", xValue: new[] { "Jan", "Feb", "Mar", "Apr", "May" }, yValues: new[] { "20", "10", "15", "5", "25" })
    //        .Write();
    
    
    var chart = new Chart(width: 600, height: 400)
    .AddTitle("BenutzerRollen")
    .AddSeries(chartType: "Pie", xValue: new[] { "Mitarbeiter [" + Model[0].ToString() + "]", 
        "Professor [" + Model[1].ToString() + "]", "Student ["+Model[2].ToString()+"]" }, yValues: Model)
        //.DataBindTable(dataSource: Model, xField: "Ente")
        .Write();
}