@using System.Data.SqlClient
@{  
    string queryString = "SELECT Dokumente.Titel, Dokumente.Bereitstellungsdatum " +
                      "FROM Dokumente " +
                      "WHERE Dokumente.Benutzer = '" + PageData[1] + "' " +
                      "ORDER BY Dokumente.Bereitstellungsdatum ";
    int docCount = 0;
    DateTime time;

    SqlConnection connection = new SqlConnection(PageData[0]);
    SqlCommand query = new SqlCommand(queryString, connection);
    connection.Open();
    SqlDataReader reader = query.ExecuteReader();
}   
 
    <h2>Bereitgestellte Dokumente</h2>
    <ul>
@for (; reader.Read(); ++docCount)
{
    time = Convert.ToDateTime( reader["Bereitstellungsdatum"].ToString());
    <li>
        <p>@reader["Titel"] vor @DateTime.Now.Subtract(time).Days Tagen</p>
    </li>
}
    </ul>
@{
    connection.Close();  
    if(docCount == 0)
    {
        <p>No documents!!!</p>
    }
    else if(docCount == 1)
    {
        <p>1 Dokument</p>
    }
    else
    {
        <p>@docCount Dokumente</p>
    }
}
