@{
    if (Session["authenticated"] == null) { Response.Redirect("~/Login.cshtml"); }
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
    "http://www.w3org/TR/html4/loose.dtd">
<html>
<head>
	@RenderSection("title", required:true)
</head>

<body>
    <a href="~/Module.cshtml?logout=true">log out</a>
    @RenderSection("subpage", required:false)

    @RenderBody()

    <p>@DateTime.Now</p>

</body></html>